<!-- Main Footer -->
<footer class="main-footer fixed-bottom">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        <b>Anything you want</b>
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2014-2019 <a class="text-primary" href="https://anviam.com">Anviam Solution</a>.</strong> <b>All rights reserved.</b>
</footer>
