<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="https://anviam.com" class="brand-link">
        <img src="/assets/anviam-logo.png" alt="Anviam" class="img-fluid p-2">
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel p-3 d-flex">
            <div class="info">
                <a href="#" class="d-block">Admin</a>
            </div>
        </div>

        <nav class="mt-2 mr-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item has-treeview menu-open">
                    <a href="<%= home_index_path %>" class="nav-link active">
                    <i class="fa fa-tachometer" aria-hidden="true" style="font-size:20px;"></i>
                        <span>Dashboard</span>
                    </a>
                        
                </li>
                <li class="nav-item">
                    <a href="<%= subscription_index_path %>" class="nav-link">
                <i class="fa fa-bell" aria-hidden="true" style="font-size:20px;"></i>

                        <span>Subscription</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                    <i class="fa fa-home" aria-hidden="true" style="font-size:20px;"></i>
                        <span>Components</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

